# dispLWO Config File

camin = (
#	Move camera in/forward
	function = camin
	key = C
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

camout = (
#	Move camera out/back
	function = camout
	key = C
	qualifier1 = (
		singlequalifier = Shift
	)
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

cyclenonconvex = (
#	Cycle non-convex polygon display hide/only/show
	function = cyclenonconvex
	key = N
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

displayboundingbox = (
#	Set display to bounding box
	function = displayboundingbox
	key = 0
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

displaypoints = (
#	Set display to points
	function = displaypoints
	key = 1
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

displaysolid = (
#	Set display to solid
	function = displaysolid
	key = 4
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

displaysolidedge = (
#	Set display to solid edge
	function = displaysolidedge
	key = 6
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

displaysolidedgesurfacedetail = (
#	Set display to surface detail solid edge
	function = displaysolidedgesurfacedetail
	key = 7
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

displaysolidsurfacedetail = (
#	Set display to surface detail solid
	function = displaysolidsurfacedetail
	key = 5
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

displaywireframe = (
#	Set display to wireframe
	function = displaywireframe
	key = 2
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

displaywireframehiddensurface = (
#	Set display to hidden surface wireframe
	function = displaywireframehiddensurface
	key = 3
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

loadobject = (
#	Load a Lightwave Object (.lwo) file
	function = loadobject
	key = O
	qualifier1 = (
		singlequalifier = Shift
	)
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

movenegx = (
#	Move object/light to left
	function = movenegx
	key = X
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

movenegy = (
#	Move object/light down
	function = movenegy
	key = Y
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

movenegz = (
#	Move object/light away from viewer (zoomout)
	function = movenegz
	key = Z
	qualifier1 = (
		singlequalifier = Shift
	)
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

moveposx = (
#	Move object/light to right
	function = moveposx
	key = X
	qualifier1 = (
		singlequalifier = Shift
	)
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

moveposy = (
#	Move object/light up
	function = moveposy
	key = Y
	qualifier1 = (
		singlequalifier = Shift
	)
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

moveposz = (
#	Move object/light towards viewer (zoomin)
	function = moveposz
	key = Z
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

polyfactoradd = (
#	Add to polyfactor
	function = polyfactoradd
	key = F
	qualifier1 = (
		singlequalifier = Shift
	)
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

polyfactorsub = (
#	Subtract from polyfactor
	function = polyfactorsub
	key = F
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

polyunitsadd = (
#	Add to polyunits
	function = polyunitsadd
	key = U
	qualifier1 = (
		singlequalifier = Shift
	)
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

polyunitssub = (
#	Subtract from polyunits
	function = polyunitssub
	key = U
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

refreshdisplay = (
#	Refresh the display
	function = refreshdisplay
	key = .
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

refreshlists = (
#	Refresh display lists of object
	function = refreshlists
	key = R
	qualifier1 = (
		singlequalifier = Alt
	)
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

resetposition = (
#	Resets position of object
	function = resetposition
	key = R
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

rotatenegx = (
#	Rotate -X
	function = rotatenegx
	key = Up
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

rotatenegy = (
#	Rotate -Y
	function = rotatenegy
	key = Left
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

rotatenegz = (
#	Rotate -Z
	function = rotatenegz
	key = ,
	qualifier1 = (
		singlequalifier = Shift
	)
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

rotateposx = (
#	Rotate +X
	function = rotateposx
	key = Down
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

rotateposy = (
#	Rotate +Y
	function = rotateposy
	key = Right
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

rotateposz = (
#	Rotate +Z
	function = rotateposz
	key = .
	qualifier1 = (
		singlequalifier = Shift
	)
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

runspeedtest = (
#	Runs spinning animation test
	function = runspeedtest
	key = T
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

showhelp = (
#	Show help
	function = showhelp
	key = H
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

showinfo = (
#	Show object info
	function = showinfo
	key = I
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

toggleantialiasing = (
#	Toggle anti-aliasing
	function = toggleantialiasing
	key = A
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

toggleaxisstep = (
#	Toggle value of axis movement normal/strong
	function = toggleaxisstep
	key = P
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

togglebgcol = (
#	Toggle background colour between black/blue
	function = togglebgcol
	key = Return
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

toggledetails = (
#	Toggle details
	function = toggledetails
	key = D
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

togglefullscreen = (
#	Toggle between window/fullscreen mode
	function = togglefullscreen
	key = Return
	qualifier1 = (
		singlequalifier = Alt
	)
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

toggleignoreenv = (
#	Toggle ignore/respect environmental variables
	function = toggleignoreenv
	key = O
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

togglelighting = (
#	Toggle lighting
	function = togglelighting
	key = L
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

togglelightingnonconvex = (
#	Toggle non-convex polygon lighting
	function = togglelightingnonconvex
	key = L
	qualifier1 = (
		singlequalifier = Shift
	)
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

togglematerial = (
#	Toggle material
	function = togglematerial
	key = M
	qualifier1 = (
		singlequalifier = Shift
	)
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

togglenormals = (
#	Toggle normals display
	function = togglenormals
	key = N
	qualifier1 = (
		singlequalifier = Shift
	)
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

togglepositiontype = (
#	Toggle positioning between object/light
	function = togglepositiontype
	key = M
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

toggleprojection = (
#	Toggle projection of object between perspective/orthographic
	function = toggleprojection
	key = P
	qualifier1 = (
		singlequalifier = Shift
	)
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

togglerotaterings = (
#	Toggle display of rotate rings
	function = togglerotaterings
	key = R
	qualifier1 = (
		singlequalifier = Shift
	)
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

toggleshading = (
#	Toggle shading of object smooth/flat
	function = toggleshading
	key = S
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)

toggletessellator = (
#	Toggle tessellator for non-convex polygons
	function = toggletessellator
	key = T
	qualifier1 = (
		singlequalifier = Shift
	)
	ignoredqualifier1 = (
		singleignoredqualifier = NumLock
	)
	ignoredqualifier2 = (
		singleignoredqualifier = CapsLock
	)
)
